@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar Track */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  border-radius: 10px; /* Rounded corners for the track */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: linear-gradient(177.32deg, #888989 5.6%, #4A4E54 93.28%);
  border-radius: 10px; /* Rounded corners for the thumb */
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(177.32deg, #888989 5.6%, #4A4E54 93.28%);
}
